@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");


$headerHeight : 80px;
$innerPadding : 40px;

:root {
  --font-main: 'Pretendard GOV', sans-serif;

  --deep-onyx: #121212;
  --charcoal-grey: #282B2B;
  --ash-white: #EAEAEA;
  --placeholder: #A2A2A2;
  --slate-blue: #3A506B;
  --muted-sand: #C6B7A6;
  --Pointer:#FF564C;

  --h1: 48px;
  --h2: 36px;
  --h3: 28px;
  --h4: 22px;
  --h5: 18px;
  --text-base: 14px;
  --text-small : 13px;
}

a{color: inherit;
  &:focus{outline: 1px solid var(--charcoal-grey);}
}
button{font-family:inherit;}
label{display: flex;align-items: center;gap: 0 4px;cursor: pointer;}
html,body,#root{font-family: var(--font-main);color: var(--charcoal-grey);background-color: white;font-size: var(--text-base);min-height:100%;
  h1{font-size: var(--h1);}
  h2{font-size: var(--h2);letter-spacing:-0.02em;}
  h3{font-size: var(--h3);}
  h4{font-size: var(--h4);}
  h5{font-size: var(--h5);}
}

/** 인풋 기본 디자인*/
input:read-only{background-color: var(--ash-white);}
input[type=text],
input[type=email],
input[type=password]{width: 100%;font-family: inherit;font-size: var(--text-base);color: var(--charcoal-grey);border: solid var(--charcoal-grey) 1px;border-radius: 3px;box-sizing: border-box;padding: 6px 8px;
  &::placeholder{color: var(--placeholder);font-weight: 300;}
  &:focus{outline-color: var(--slate-blue);box-shadow: 0 0 3px var(--slate-blue);}
}


/** 버튼 디자인 모음*/
button,a.btn{display: flex;justify-content: center;align-items: center;font-size: var(--text-base);color: var(--ash-white);background: var(--charcoal-grey);border: none;border-radius: 3px;min-width: 74px;
  /**큰 버튼 기본*/
  &.bigBtn{font-size: 16px;padding: 10px 20px;color: var(--ash-white);
    /**볼드 처리*/
    &.bold{font-weight: bold;}
  }

}

/** 입력필드 기본 디자인 */
.inputWrap{
  .inputTitle{display: flex;gap: 0 4px;margin-bottom: 2px;}
  .inputBox{display:flex;gap: 0 10px;
    button{white-space: nowrap;}
  }
}
.borderSection{border: solid 1px var(--charcoal-grey);border-radius: 3px;padding: 29px;
  .inputTitle{font-size: var(--h5);}
}


/** 주소검색 기본 디자인 */
.addressSearch{
  display: flex; flex-direction: column; gap:10px;
  .search{display: flex;gap: 0 10px;
    button{white-space: nowrap;}
  }

}

#root{display:flex;flex-direction:column;min-height:100%;}
.blind{display:none;}
.innerWrap{padding: 0 $innerPadding;}
.container{padding-top: $headerHeight;min-height: 100%;}
.point{color: var(--Pointer);}

/**헤더*/
.header{
  position: fixed;top:0;left:0;width:100%;background:#fff;z-index: 100;
  .innerWrap{display: flex;align-items: center;height:$headerHeight;border-bottom:solid 1px transparent;
    ul{display:flex;align-items: center;gap:0 24px;}
    .logo a{display: block;
      svg{width:127px;display: block;}
    }
    .gnb{margin:0 auto 0 32px;}
    .utillMenu{margin-left: 42px;}
  }
}

/**푸터*/
.footer{margin-top: auto;
  .innerWrap{padding-top:40px;padding-bottom:40px;border-top:solid 1px transparent;}
  .f_content_top{display: flex;align-items: flex-start;justify-content: space-between;
    .logo svg{width:366px;}
    .f_siteMap .f_cartegory{display: flex;gap: 0 40px;
        >li:first-of-type{margin-right: -22px;}
        >li>a{font-size: var(--h5);font-weight: bold;}
        .f_subCartegory{padding-top: 10px;display: flex;flex-direction: column;gap: 10px;}
      }
    }
  .f_content_botton{margin-top: auto;
    .csBtn,
    .infoDetail{display: flex;align-items: center;}
    .csBtn{display: flex;gap: 0 12px;}
    .infoDetail{margin-top: 14px;max-width: 772px;flex-wrap: wrap;font-size:var(--text-small);color: var(--placeholder);gap: 3px 12px;
      span{font-size: inherit;color: inherit;display: block;white-space: nowrap;}
    }
  }
}
