.itemSidebar {width: 620px; flex: 0 0 620px;padding: 0 40px;
    .innerSiedbarWrap{
        // padding-top:120px;
        position: sticky;
        top: 120px;
        right: 0;;
        height: calc( 100vh - 120px);
        background-color: var(--ash-white);
        display: flex;
        flex-direction: column;
        align-items: end;
        
    }

    .paginationSection{
        margin-top: auto;
    }
}

.categoryList li.active {
    text-decoration: underline; 
    font-weight: 700; 
  }
  
