.itemSidebar {width: 620px; flex: 0 0 620px;padding: 0 40px;
    .innerSiedbarWrap{
        // padding-top:120px;
        position: sticky;
        top: 120px;
        right: 0;;
        height: calc( 100vh - 120px);
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: end;
        
    }

    .paginationSection{
        margin-top: auto;
        font-size: large;
    }
}


.searchBox {
    padding: 20px 0;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.searchBox input::placeholder {
    text-align: right;
}


.categoryList li {
    text-align: end;    
    margin-bottom: 10px;
    font-size: var(--h4);
}

.categoryList li.active {
    text-decoration: underline; 
    font-weight: 700; 
  }
  
.paginationSection  {

   .totalCount{
    font-size: var(--h3);
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
   }
   
   .sortButtons {
    display: flex;
    justify-content: flex-end; 
    flex-direction: row; 
    gap: 10px;
    margin-bottom: 10px;
    font-size: var(--h5); 
   }
  .sortButtons button {
    padding: 10px; 
    background-color: white;
    color: var(--deep-onyx); 
    border: 1px solid var(--deep-onyx);
    border-radius: 4px; 
    cursor: pointer;
    height: 29px;
  }
  
  .sortButtons button.active {
    background-color: var(--deep-onyx);
    color: white;
    border: 1px solid var(--deep-onyx);
  }
    .pageLinks {
    display: flex;
    justify-content: flex-end; 
    gap: 15px;
    }

    .pageLinks a.current {
        font-weight: 400;
        text-decoration: underline;
      }
}