/** 약관동의 */
.signupWrap{
  display: flex;justify-content: center;align-items: center;padding:40px 0 200px;min-height: 800px;
  h2{
    margin-bottom: 20px;
    span{font-size:var(--text-base);color: var(--placeholder);font-weight:300;letter-spacing: .06em;}
  }
  .signupSection{
    display: flex;flex-direction: column;gap: 20px 0; width: 100%;max-width: 420px;
    &.formSection{gap: 40px 0;}
    label{margin-bottom: 4px;}
    .discription{
      display: flex;flex-direction: column;gap: .8em 0;border: solid 1px var(--charcoal-grey);padding: 16px 19px;border-radius: 3px;height: 200px;overflow-y: auto;
      strong{display: block;}
      ul{display: flex;flex-direction: column;gap: .8em 0;}
    }
  }
}

/** 가입 정보입력 */


/** 가입완료 */
.complete{
  display: flex;align-items: center;justify-content: center;min-height: 800px;
  .completeTextbox{
    display: flex;align-items: center;justify-content: center;flex-direction: column;text-align: center;gap:38px 0;
    h2,h3{margin-bottom: 5px;}
  }
}
























// .signupBox {
//     width: 420px;
//     height: 754px;
//     background-color: var(--ash-white);
//     padding: 40px 32px;
//     box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
//     border-radius: 16px;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     gap: 24px;
//     box-sizing: border-box;
//   }
  
//   .signupBox h2 {
//     margin-bottom: 16px;
//   }
  
//   .signupBox form > div {
//     display: flex;
//     flex-direction: column;
//     gap: 8px;
//   }
  
//   .signupBox label {
//     display: flex;
//     align-items: center;
//     gap: 8px;
//     font-size: var(--text-base);
//     cursor: pointer;
//   }
  
//   .signupBox label strong {
//     color: red;
//     font-weight: bold;
//     margin-right: 4px;
//     font-size: var(--text-base);
//   }
  
//   .signupBox textarea {
//     height: 100px;
//     resize: none;
//     padding: 8px 12px;
//     border-radius: 6px;
//     background-color: var(--ash-white);
//     box-sizing: border-box;
//     border: 1px solid var(--charcoal-grey);
//     font-size: var(--text-small);
//     color: var(--charcoal-grey);
//   }
  
//   .signupBox p {
//     color: red;
//     font-size: var(--text-small);
//     margin-top: 4px;
//   }
  
//   .signupBox button {
//     margin-top: auto;
//   }
  